[submodule "chapter_2/2.3"]
	path = chapter_2/2.3
	url = https://github.com/Chaiolites/Konfiguracja_baz_danych.git
[submodule "chapter_2/2.2"]
	path = chapter_2/2.2
	url = https://github.com/oszczeda/Sprzet-dla-bazy-danych.git
[submodule "chapter_2/2.1"]
	path = chapter_2/2.1
	url = https://github.com/Broksonn/Wydajnosc_Skalowanie_i_Replikacja.git
[submodule "chapter_2/2.5"]
	path = chapter_2/2.5
	url = https://github.com/m-smieja/Kopie_zapasowe_i_odzyskiwanie_danych.git
[submodule "chapter_2/2.4"]
	path = chapter_2/2.4
	url = https://github.com/BlazejUl/bezpieczenstwo.git
[submodule "task_modules"]
	path = task_modules
	url = git@github.com:m-smieja/task_modules.git
[submodule "chapter_2/2.6"]
	path = chapter_2/2.6
	url = https://github.com/Pi0trM/Kontrola_i_konserwacja.git
[submodule "chapter_2/2.7"]
	path = chapter_2/2.7
	url = https://github.com/GrzegorzSzczepanek/repo-wspolne.git
[submodule "chapter_2/2.8"]
	path = chapter_2/2.8
	url = https://github.com/BartekHen/Partycjonowanie-danych.git
